<form>
	<div class="form-group">
        <label>{{localize 'DSA.options'}}</label>
    </div>
    {{#each options as |option id|}}
    <div class="form-group">
        <input type="checkbox" name="{{option.value}}" 
            {{#if option.selected}}checked{{/if}}
        />
        {{option.label}}
    </div>
    {{/each}}
</form>