<!-- ManeuverEditor.svelte -->
<script lang="ts">
  import { afterUpdate } from 'svelte'

  export var localize: (key: string) => string = () => ''

  import type {
    ManeuverDescriptor,
    ManeuverType,
    ModifierDescriptor,
  } from '../../module/model/modifier'

  export var availableManeuvers: ManeuverDescriptor[] = []

  interface FoundryApp {
    close: () => void
    setPosition: () => void
  }

  export var callback: (
    modifiers: ModifierDescriptor[],
    finalMod: number
  ) => void = () => undefined
  export var foundryApp: FoundryApp | undefined = undefined
  export var lastManeuver: ManeuverDescriptor[] | undefined = undefined
  let appHeight: number
  let finalMod: number

  let showEditor: boolean = availableManeuvers.length > 0

  let modifiers = new Map<string, ModifierDescriptor>()
  const customModifier: ModifierDescriptor = {
    name: 'custom',
    mod: 0,
    modifierType: 'other',
  }
  let customMod = 0
  modifiers.set('custom', customModifier)
  $: {
    const customModifier = modifiers.get('custom')
    if (customModifier !== undefined) {
      customModifier.mod = customMod
    }
    modifiers = modifiers
  }
  let selectedManeuver: ManeuverDescriptor | undefined = undefined

  const highestMod = 15
  $: lowestMod = selectedManeuver?.minMod || 0
  $: modifierValues = [...Array(highestMod + 1 - lowestMod).keys()].map(
    (i) => i + lowestMod
  )

  function deleteManeuver(maneuverName: string) {
    return () => {
      modifiers.delete(maneuverName)
      modifiers = modifiers
    }
  }

  function selectManeuver(maneuver) {
    return () => {
      selectedManeuver = maneuver
    }
  }

  function addManeuver(mod: number) {
    return () => {
      if (selectedManeuver) {
        selectedManeuver.mod = mod
        modifiers = modifiers.set(selectedManeuver.name, {
          ...selectedManeuver,
        })
      }
      selectedManeuver = undefined
    }
  }

  function submit() {
    callback([...modifiers.values()], finalMod)
    foundryApp?.close()
  }

  function loadLastManeuver() {
    modifiers = new Map()
    modifiers.set('custom', customModifier)
    if (lastManeuver) {
      for (const maneuver of lastManeuver) {
        modifiers = modifiers.set(maneuver.name, { ...maneuver })
      }
    }
  }

  $: finalMod = [...modifiers].reduce(
    (prev, [key, maneuver]) => maneuver.mod + prev,
    0
  )

  afterUpdate(() => {
    if (appHeight) foundryApp?.setPosition()
  })

</script>

<style>
  .wrapper {
    display: grid;
    grid-template-columns: minmax(auto, auto) 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(40px, 1fr)); */
    gap: 10px;
    grid-auto-rows: 40px;
  }

  .wrapperMod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 10px;
    grid-auto-rows: 40px;
  }

</style>

<div bind:clientHeight={appHeight} style="font-size: large">
  {#if showEditor}
    <button on:click={loadLastManeuver} style="margin-bottom: 20px">{localize(
        'lastManeuver'
      )}</button>
    {#if selectedManeuver}
      <div class="wrapperMod">
        {#each modifierValues as modifierValue}
          <div>
            <button
              on:click={addManeuver(modifierValue)}>{modifierValue}</button>
          </div>
        {/each}
      </div>
    {:else}
      <div class="wrapper">
        {#each availableManeuvers as maneuver}
          <div>
            <button on:click={selectManeuver(maneuver)}>{localize(
                maneuver.name
              )}</button>
          </div>
        {/each}
      </div>
    {/if}
    <div style="margin-top:20px;">
      {#each [...modifiers.entries()] as [modifierName, modifier]}
        {#if modifierName != 'custom'}
          <div>
            <a on:click={deleteManeuver(modifierName)}><i
                class="fas fa-trash" /></a>
            {localize(modifierName)}:
            {modifier.mod}<br />
          </div>
        {/if}
      {/each}
    </div>
  {/if}

  <div style="margin-top:20px;">
    {localize('modifier')}
    <input type="number" bind:value={customMod} />
  </div>

  {#if showEditor}
    <p style=" font-size: x-large;">{localize('totalModifier')}: {finalMod}</p>
  {/if}

  <button on:click={submit}>Roll</button>
</div>
