<div class="combat">
  {{#if isArmed}}
  <div class="combat-mode" data-combat-mode="armed">
    <div class="switch-armed">
      <a name="unarmed">
        <i class="fas fa-gavel"></i>
      </a>
    </div>
    {{localize 'DSA.primaryHand'}}
    <select name="data.base.combatState.primaryHand">
      {{#select data.base.combatState.primaryHand}}
      <option value="null">{{localize 'DSA.none'}}</option>
      <option disabled>{{localize 'DSA.meleeWeapons'}}</option>
      {{#each data.owned.meleeWeapons as |weapon id|}}
      <option value="{{weapon._id}}">{{weapon.name}}</option>
      {{/each}}
      <option disabled>{{localize 'DSA.rangedWeapons'}}</option>
      {{#each data.owned.rangedWeapons as |rangedWeapon id|}}
      <option value="{{rangedWeapon._id}}">{{rangedWeapon.name}}</option>
      {{/each}} {{/select}}
    </select>
    {{localize 'DSA.secondaryHand'}}
    <select name="data.base.combatState.secondaryHand">
      {{#select data.base.combatState.secondaryHand}}
      <option value="null">{{localize 'DSA.none'}}</option>
      <option disabled>{{localize 'DSA.shields'}}</option>
      {{#each data.owned.shields as |shield id|}}
      <option value="{{shield._id}}">{{shield.name}}</option>
      {{/each}}

      <option disabled>{{localize 'DSA.meleeWeapons'}}</option>
      {{#each data.owned.meleeWeapons as |weapon id|}}
      <option value="{{weapon._id}}">{{weapon.name}}</option>
      {{/each}}
      <option disabled>{{localize 'DSA.rangedWeapons'}}</option>
      {{#each data.owned.rangedWeapons as |rangedWeapon id|}}
      <option value="{{rangedWeapon._id}}">{{rangedWeapon.name}}</option>
      {{/each}}
      {{/select}}
    </select>
    {{#with (lookup itemsById data.base.combatState.primaryHand) as |weapon id|}}
    <div class="weapon" data-attribute="{{weapon._id}}">
      <div class="combat-attribute-label">{{weapon.name}}</div>
      <div class="flexrow">
        <div class="combat-attributes">
          {{#if (eq weapon.type 'meleeWeapon')}}
          <a name="attack" title="{{localize 'DSA.roll'}}">
            <div class="combat-attribute-label">
              <i class="fas fa-dice-d20"></i> {{localize 'DSA.attack'}}
            </div>
            <div class="combat-attribute-value">{{weapon.attack}}</div>
          </a>
          <a name="parry" title="{{localize 'DSA.roll'}}">
            <div class="combat-attribute-label">
              <i class="fas fa-dice-d20"></i> {{localize 'DSA.parry'}}
            </div>
            <div class="combat-attribute-value">{{weapon.parry}}</div>
          </a>
          {{/if}}
          {{#if (eq weapon.type 'rangedWeapon')}}
          <a name="rangedAttack" title="{{localize 'DSA.roll'}}">
            <div class="combat-attribute-label">
              <i class="fas fa-dice-d20"></i> {{localize 'DSA.rangedAttack'}}
            </div>
            <div class="combat-attribute-value">{{weapon.rangedAttack}}</div>
          </a>
          <!-- <div class="weapon_ranges">
						{{#each weapon.data.ranges as |range id|}}
						<div class="weapon_range">{{range}}</div>
						{{/each}}
					</div>
					<div class="weapon_range_bonuses">
						{{#each weapon.data.bonusDamages as |bonus_damage id|}}
						<div class="weapon_range_bonus">
							{{bonus_damage}}
						</div>
						{{/each}}
					</div>-->
          <div class="ranged_attack_config">
            <div class="modifier">
              <div class="combat-attribute-label">
                {{localize 'DSA.modificator'}}
              </div>
              <div class="combat-attribute-value">
                {{../rangedAttackConfig.modifier}}
              </div>
            </div>
            <div class="range_class">
              <select name="range_class">
                {{#select ../rangedAttackConfig.rangeClass}}
                {{#each ../rangeClasses as |rangeClass id|}}
                <option value="{{rangeClass.value}}">{{rangeClass.label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
            <div class="size_class">
              <select name="size_class">
                {{#select ../rangedAttackConfig.sizeClass}}
                {{#each ../sizeClasses as |sizeClass id|}}
                <option value="{{sizeClass.value}}">{{sizeClass.label}}</option>
                {{/each}}
                {{/select}}
              </select>
            </div>
          </div>
          {{/if}}
        </div>
        <div class="combat-attributes">
          <div class="initiative">
            <div class="combat-attribute-label">
              {{localize 'DSA.initiative'}}
            </div>
            <div class="combat-attribute-value">{{weapon.initiative}}</div>
          </div>
          <div class="damage-roll">
            <a name="damage" title="{{localize 'DSA.roll'}}">
              <div class="combat-attribute-label">
                <i class="fas fa-dice-d20"></i> {{localize 'DSA.damage'}}
              </div>
              <div class="combat-attribute-value">{{weapon.damage}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flexrow">
    </div>
    {{/with}}

    {{#with (lookup itemsById data.base.combatState.secondaryHand) as |weapon id|}}
    <div class="weapon" data-attribute="{{weapon._id}}">
      <div class="combat-attribute-label">{{weapon.name}}</div>
      <div class="flexrow">
        <div class="combat-attributes">
          {{#if (eq weapon.type 'meleeWeapon')}}
          <a name="attack" title="{{localize 'DSA.roll'}}">
            <div class="combat-attribute-label">
              <i class="fas fa-dice-d20"></i> {{localize 'DSA.attack'}}
            </div>
            <div class="combat-attribute-value">{{weapon.attack}}</div>
          </a>
          <a name="parry" title="{{localize 'DSA.roll'}}">
            <div class="combat-attribute-label">
              <i class="fas fa-dice-d20"></i> {{localize 'DSA.parry'}}
            </div>
            <div class="combat-attribute-value">{{weapon.parry}}</div>
          </a>
          {{/if}}

        </div>
        <div class="combat-attributes">
          <div class="damage-roll">
            <a name="damage" title="{{localize 'DSA.roll'}}">
              <div class="combat-attribute-label">
                <i class="fas fa-dice-d20"></i> {{localize 'DSA.damage'}}
              </div>
              <div class="combat-attribute-value">{{weapon.damage}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="flexrow">
    </div>
    {{/with}}
  </div>
  {{else}}
  <div class="combat-mode" data-combat-mode="unarmed">
    <div class="switch-armed">
      <a name="unarmed">
        <i class="fas fa-fist-raised"></i>
      </a>
    </div>
    {{localize 'DSA.unarmedTalent'}}
    <select class="unarmed-talent" name="data.base.combatState.unarmedTalent">
      {{#select data.base.combatState.unarmedTalent}}
      <option value="null">{{localize 'DSA.none'}}</option>
      {{#each data.owned.combatTalents as |talent id|}}
      {{#if (eq talent.data.combat.category 'unarmed')}}
      <option value="{{talent._id}}">{{talent.name}}</option>
      {{/if}}
      {{/each}}
      {{/select}}
    </select>

    {{#with (lookup itemsById data.base.combatState.unarmedTalent) as |talent id|}}
    <div class="talent" data-attribute="{{talent._id}}">
      <div class="combat-attribute-label">{{talent.name}}</div>
      <div class="flexrow">
        <div class="combat-attributes">
          <a name="attack" title="{{localize 'DSA.roll'}}">
            <div class="combat-attribute-label">
              <i class="fas fa-dice-d20"></i> {{localize 'DSA.attack'}}
            </div>
            <div class="combat-attribute-value">{{talent.attack}}</div>
          </a>
          <a name="parry" title="{{localize 'DSA.roll'}}">
            <div class="combat-attribute-label">
              <i class="fas fa-dice-d20"></i> {{localize 'DSA.parry'}}
            </div>
            <div class="combat-attribute-value">{{talent.parry}}</div>
          </a>

        </div>
        <div class="combat-attributes">
          <div class="initiative">
            <div class="combat-attribute-label">
              {{localize 'DSA.initiative'}}
            </div>
            <div class="combat-attribute-value">{{talent.initiative}}</div>
          </div>
          <div class="damage-roll">
            <a name="damage" title="{{localize 'DSA.roll'}}">
              <div class="combat-attribute-label">
                <i class="fas fa-dice-d20"></i> {{localize 'DSA.enduranceDamage'}}
              </div>
              <div class="combat-attribute-value">{{talent.damage}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>

    {{/with}}
  </div>
  {{/if}}

</div>
<div class="combat-attributes">
  <a name="dodge" title="{{localize 'DSA.roll'}}">
    <div class="combat-attribute-label">
      <i class="fas fa-dice-d20"></i> {{localize 'DSA.dodge'}}
    </div>
    <div class="combat-attribute-value">
      {{data.base.combatAttributes.active.dodge.value}}
    </div>
  </a>
</div>
<div class="flexrow">
  <div class="combat-attributes">
    <div class="armor-class">
      <div class="combat-attribute-label">{{localize 'DSA.armorClass'}}</div>
      <div class="combat-attribute-value">{{armorClass}}</div>
    </div>
    <div class="encumbarance">
      <div class="combat-attribute-label">
        {{localize 'DSA.encumbarance'}}
      </div>
      <div class="combat-attribute-value">{{encumbarance}}</div>
    </div>
  </div>
</div>