<div class="inventory">
	{{!-- Sheet Tab Navigation --}}
	<nav class="inventory-tabs tabs" data-group="inventory">
		<a class="item" data-tab="inventory-generic-item">{{localize 'DSA.genericItems'}}</a>
		<a class="item" data-tab="inventory-melee-weapons">{{localize 'DSA.meleeWeapons'}}</a>
		<a class="item" data-tab="inventory-ranged-weapons">{{localize 'DSA.rangedWeapons'}}</a>
		<a class="item" data-tab="inventory-armor">{{localize 'DSA.armor'}}</a>
		<a class="item" data-tab="inventory-shield">{{localize 'DSA.shield'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="inventory-body">
		{{!-- inventory-generic-item Tab --}}
		<div class="tab inventory-generic-item" data-group="inventory" data-tab="inventory-generic-item">
			{{> "systems/dsa-4.1/templates/partials/inventory/item-tab.html"}}
		</div>

		{{!-- inventory-melee-weapons Tab --}}
		<div class="tab inventory-melee-weapons" data-group="inventory" data-tab="inventory-melee-weapons">
			{{> "systems/dsa-4.1/templates/partials/inventory/melee-weapons-tab.html"}}
		</div>

		{{!-- inventory-ranged-weapons Tab --}}
		<div class="tab inventory-ranged-weapons" data-group="inventory" data-tab="inventory-ranged-weapons">
			{{> "systems/dsa-4.1/templates/partials/inventory/ranged-weapons-tab.html"}}
		</div>

		{{!-- inventory-armor Tab --}}
		<div class="tab inventory-armor" data-group="inventory" data-tab="inventory-armor">
			{{> "systems/dsa-4.1/templates/partials/inventory/armor-tab.html"}}
		</div>

		{{!-- inventory-shield Tab --}}
		<div class="tab inventory-shield" data-group="inventory" data-tab="inventory-shield">
			{{> "systems/dsa-4.1/templates/partials/inventory/shield-tab.html"}}
		</div>
	</section>
</div>