<div class="karma">
    {{#each data.owned.talents as |talent id|}}
    {{#if (eq talent.data.category 'karma')}}
    <div class="talent" data-attribute="{{talent._id}}">
        <div class="form-group talent" data-attribute="{{talent._id}}">
            <div class="talent-label"><a name="{{talent._id}}" title="Probe">{{talent.name}}</a></div>
            <div class="flexrow">
                <input name="data.owned.{{talent._id}}.data.value" type="number"
                    value="{{talent.data.value}}" placeholder="Wert"/>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
    {{#each data.owned.liturgys as |liturgy id|}}
	<div class="form-group liturgy" data-attribute="{{liturgy._id}}">
		<div class="liturgy-label">
			<a class="open-ll-page" data-llPage="{{liturgy.data.llPage}}"><i class="fas fa-book"></i></a>
			<a name="{{liturgy._id}}" title="Probe">{{liturgy.name}}</a>
		</div>
	</div>
	{{/each}}
</div>