<div class="spells">
  {{#each data.owned.spells as |spell id|}}
  <div class="form-group spell" data-attribute="{{spell._id}}">
    <div class="spell-label">
      <a class="open-lcd-page" data-lcd-page="{{spell.data.lcdPage}}"><i class="fas fa-book"></i></a>
      <a class="item-edit" name="{{spell._id}}"><i class="fas fa-wrench"></i></a>
      <a class="roll-spell" name="{{spell._id}}" title="Probe">{{spell.name}}</a>
      (
      {{localize (concat 'DSA.' spell.data.test.firstAttribute '_abbr')}} /
      {{localize (concat 'DSA.' spell.data.test.secondAttribute '_abbr')}} /
      {{localize (concat 'DSA.' spell.data.test.thirdAttribute '_abbr')}}
      )
    </div>
    <div class="flexrow">
      <input name="data.owned.{{spell._id}}.data.value" type="number" value="{{spell.data.value}}" placeholder="Wert" />
    </div>
  </div>
  {{/each}}
</div>