<div class="talents">
	{{!-- Sheet Tab Navigation --}}
	<nav class="talents-tabs tabs" data-group="talents">
		<a class="item" data-tab="talents-combat">
			{{localize 'DSA.combat'}}</a>
		<a class="item" data-tab="talents-physical">
			{{localize 'DSA.physical'}}</a>
		<a class="item" data-tab="talents-social">
			{{localize 'DSA.social'}}</a>
		<a class="item" data-tab="talents-nature">
			{{localize 'DSA.nature'}}</a>
		<a class="item" data-tab="talents-knowledge">
			{{localize 'DSA.knowledge'}}</a>
		<a class="item" data-tab="talents-language">
			{{localize 'DSA.language'}}</a>
		<a class="item" data-tab="talents-crafting">
			{{localize 'DSA.crafting'}}</a>
		<a class="item" data-tab="talents-gift">
			{{localize 'DSA.gifts'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="talents-body">
		{{!-- talents-combat Tab --}}
		<div class="tab talents-combat" data-group="talents" data-tab="talents-combat">
			{{> "systems/dsa-4.1/templates/partials/talents/combat-tab.html"}}
		</div>

		{{!-- talents-physical Tab --}}
		<div class="tab talents-physical" data-group="talents" data-tab="talents-physical">
			{{> "systems/dsa-4.1/templates/partials/talents/physical-tab.html"}}
		</div>

		{{!-- talents-social Tab --}}
		<div class="tab talents-social" data-group="talents" data-tab="talents-social">
			{{> "systems/dsa-4.1/templates/partials/talents/social-tab.html"}}
		</div>

		{{!-- talents-nature Tab --}}
		<div class="tab talents-nature" data-group="talents" data-tab="talents-nature">
			{{> "systems/dsa-4.1/templates/partials/talents/nature-tab.html"}}
		</div>

		{{!-- talents-knowledge Tab --}}
		<div class="tab talents-knowledge" data-group="talents" data-tab="talents-knowledge">
			{{> "systems/dsa-4.1/templates/partials/talents/knowledge-tab.html"}}
		</div>

		{{!-- talents-language Tab --}}
		<div class="tab talents-language" data-group="talents" data-tab="talents-language">
			{{> "systems/dsa-4.1/templates/partials/talents/language-tab.html"}}
		</div>

		{{!-- talents-crafting Tab --}}
		<div class="tab talents-crafting" data-group="talents" data-tab="talents-crafting">
			{{> "systems/dsa-4.1/templates/partials/talents/crafting-tab.html"}}
		</div>

		{{!-- talents-gift Tab --}}
		<div class="tab talents-gift" data-group="talents" data-tab="talents-gift">
			{{> "systems/dsa-4.1/templates/partials/talents/gift-tab.html"}}
		</div>


	</section>
</div>