<!-- ActorSheet.svelte -->
<script lang="ts">
  import { attributeNames } from '../module/model/properties'
  import Attribute from './Attribute.svelte'

  export let character
</script>

{character.name}

<div class="flexrow">
  {#each attributeNames as attributeName}
    <Attribute attribute={character.attribute(attributeName)} />
  {/each}
</div>
