<!-- Attribute.svelte -->
<script lang="ts">
  export let attribute

  function roll() {
    attribute.roll()
  }
</script>

<div class="attribute" data-attribute={attribute.key}>
  <div class="attribute-label">
    <a on:click={roll} title="Probe" data-testid="attribute-roll"><i
        class="fas fa-dice-d20" />
      {attribute.name}</a>
  </div>
  <input
    name={attribute.key}
    type="number"
    data-dtype="Number"
    value={attribute.value}
    placeholder="Wert" />
</div>
