<div class="armors" style="width: 50%;">

	<ol class="item-list">
		{{#each data.owned.armors as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div style="flex: unset; margin-right: 5px;">

				<img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
			</div>
			<div>
				<h3 class="item-name">{{item.name}}</h4>

					<div class="item-description collapsed" style="display: none;">
						{{item.data.description}}
					</div>
			</div>
			<div class="item-controls" style="flex: unset; margin-left: 5px;">
				<a class="item-edit" name="{{item._id}}" title="{{ localize 'DSA.edit' }}"><i
						class="fas fa-edit"></i></a>
				<a class="item-delete" name="{{item._id}}" title="{{ localize 'DSA.delete' }}"><i
						class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	<p>
		<a class="item-add" title="{{ localize 'DSA.add' }}" data-item-type="armor"><i class="fas fa-plus"></i>
			{{ localize 'DSA.add' }}</a>
	</p>
</div>