<div class="talents">
	<div class="form-group talent" data-attribute="{{talent._id}}">
		<div class="talent-label"></div>
		<div class="flexrow">
			{{localize 'DSA.effectiveEncumbaranceAbbr'}}
		</div>
		<div class="flexrow">
			<div>
				AT/FK
			</div>
			<div>
				PA
			</div>
			<div>
				TaW
			</div>
		</div>
	</div>
	{{#each data.owned.combatTalents as |talent id|}}
	<div class="form-group talent" data-attribute="{{talent._id}}">
		<div class="talent-label">{{talent.name}}</div>
		<div class="flexrow">
			{{#if (eq talent.data.effectiveEncumbarance.type 'none')}}
			-
			{{/if}}
			{{#if (eq talent.data.effectiveEncumbarance.type 'special')}}
			{{localize 'DSA.special'}}
			{{/if}}
			{{#if (eq talent.data.effectiveEncumbarance.type 'formula')}}
			{{talent.data.effectiveEncumbarance.formula}}
			{{/if}}
		</div>
		<div class="flexrow">
			{{#if (or (eq talent.data.combat.category 'melee') (eq talent.data.combat.category 'unarmed'))}}
			<input name="data.owned.{{talent._id}}.data.combat.attack" type="number" data-dtype="Number"
				value="{{talent.data.combat.attack}}" placeholder="Wert" />
			<input name="data.owned.{{talent._id}}.data.combat.parry" type="number" data-dtype="Number"
				value="{{talent.data.combat.parry}}" placeholder="Wert" />
			{{/if}}
			{{#if (eq talent.data.combat.category 'ranged')}}
			<input name="data.owned.{{talent._id}}.data.combat.rangedAttack" type="number" data-dtype="Number"
				value="{{talent.data.combat.rangedAttack}}" placeholder="Wert" />
			<input name="" type="number" data-dtype="Number" value="" placeholder="" disabled />
			{{/if}}
			{{#if (eq talent.data.combat.category 'special')}}
			<input name="data.owned.{{talent._id}}.data.combat.attack" type="number" data-dtype="Number"
				value="{{talent.data.combat.attack}}" placeholder="Wert" />
			<input name="" type="number" data-dtype="Number" value="" placeholder="" disabled />
			{{/if}}
			<input name="data.owned.{{talent._id}}.data.value" type="number" data-dtype="Number"
				value="{{talent.data.value}}" placeholder="Wert" />
		</div>
	</div>
	{{/each}}
</div>