<div class="talents">
	<div class="form-group talent" data-attribute="{{talent._id}}">
		<div class="talent-label"></div>
		<div class="flexrow">
			{{localize 'DSA.effectiveEncumbaranceAbbr'}}
		</div>
		<div class="flexrow">
			<div>
				TaW
			</div>
		</div>
	</div>
	{{#each data.owned.languages as |talent id|}}
	<div class="form-group talent" data-attribute="{{talent._id}}">
		<div class="talent-label">
			<a name="{{talent._id}}" title="Probe">{{talent.name}}</a>
			(
			{{localize (concat 'DSA.' talent.data.test.firstAttribute '_abbr')}} /
			{{localize (concat 'DSA.' talent.data.test.secondAttribute '_abbr')}} /
			{{localize (concat 'DSA.' talent.data.test.thirdAttribute '_abbr')}}
			)
		</div>
		<div class="flexrow">
			{{#if (eq talent.data.effectiveEncumbarance.type 'none')}}
			-
			{{/if}}
			{{#if (eq talent.data.effectiveEncumbarance.type 'special')}}
			{{localize 'DSA.special'}}
			{{/if}}
			{{#if (eq talent.data.effectiveEncumbarance.type 'formula')}}
			{{talent.data.effectiveEncumbarance.formula}}
			{{/if}}
		</div>
		<div class="flexrow">
			<input name="data.owned.{{talent._id}}.data.value" type="number" value="{{talent.data.value}}"
				placeholder="Wert" />
		</div>
	</div>
	{{/each}}
	{{#each data.owned.scriptures as |talent id|}}
	<div class="form-group talent" data-attribute="{{talent._id}}">
		<div class="talent-label">
			<a name="{{talent._id}}" title="Probe">{{talent.name}}</a>
			(
			{{localize (concat 'DSA.' talent.data.test.firstAttribute '_abbr')}} /
			{{localize (concat 'DSA.' talent.data.test.secondAttribute '_abbr')}} /
			{{localize (concat 'DSA.' talent.data.test.thirdAttribute '_abbr')}}
			)
		</div>
		<div class="flexrow">
			<input name="data.owned.{{talent._id}}.data.value" type="number" value="{{talent.data.value}}"
				placeholder="Wert" />
		</div>
	</div>
	{{/each}}
</div>