<form class="{{cssClass}}" autocomplete="off">
	{{!-- Item Sheet Header --}}
	<header class="armor sheet-header flexrow" data-item-id="{{item.id}}">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
			</h1>
			<div class="item-controls">
				<a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
						class="fas fa-trash fa-2x"></i></a>
			</div>

		</div>
	</header>

	<div class="flexrow armor-attributes-list">
		<div class="attribute" data-attribute="armorClass">
			<div class="attribute-label">{{localize (concat 'DSA.armorClass')}}</div>
			<div class="flexrow">
				<input name="data.armorClass" type="number" data-dtype="Number" value="{{data.armorClass}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="encumbarance">
			<div class="attribute-label">{{localize (concat 'DSA.encumbarance')}}</div>
			<div class="flexrow">
				<input name="data.encumbarance" type="number" data-dtype="Number" value="{{data.encumbarance}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="price">
			<div class="attribute-label">{{localize (concat 'DSA.price')}}</div>
			<div class="flexrow">
				<input name="data.price" type="number" data-dtype="Number" value="{{data.price}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="weight">
			<div class="attribute-label">{{localize (concat 'DSA.weight')}}</div>
			<div class="flexrow">
				<input name="data.weight" type="number" data-dtype="Number" value="{{data.weight}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="equiped">
			<div class="attribute-label">{{localize (concat 'DSA.equiped')}}</div>
			<div class="flexrow">
				<input name="data.equiped" type="checkbox" data-dtype="Boolean" {{checked data.equiped}}
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="description">
			<div class="attribute-label">{{localize (concat 'DSA.description')}}</div>
			<div class="flexrow">
				<textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
			</div>
		</div>

	</div>

</form>