<form class="{{cssClass}}" autocomplete="off">
    {{!-- Item Sheet Header --}}
    <header class="generic-item sheet-header flexrow" data-item-id="{{item.id}}">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
            </h1>
            <div class="item-controls">
                <a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
                        class="fas fa-trash fa-2x"></i></a>
            </div>

        </div>
    </header>

    <div class="flexrow armor-generic-item-list">
        <div class="attribute" data-attribute="description">
            <div class="attribute-label">{{localize (concat 'DSA.description')}}</div>
            <div class="flexrow">
                <textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
            </div>
        </div>
        <div class="attribute" data-attribute="isConsumable">
            <div class="attribute-label">{{localize (concat 'DSA.isConsumable')}}</div>
            <div class="flexrow">
                <input name="data.isConsumable" type="checkbox" data-dtype="Boolean" {{checked data.isConsumable}}
                    placeholder="{{localize 'DSA.value'}}" />
            </div>
        </div>

        <div class="attribute" data-attribute="quantity">
            <div class="attribute-label">{{localize (concat 'DSA.quantity')}}</div>
            <div class="flexrow">
                <input name="data.quantity" type="number" data-dtype="Number" value="{{data.quantity}}"
                    placeholder="{{localize 'DSA.value'}}" />
            </div>
        </div>

    </div>

</form>