<form class="{{cssClass}}" autocomplete="off">
	{{!-- Item Sheet Header --}}
	<header class="liturgy sheet-header flexrow" data-item-id="{{item.id}}">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
			</h1>
			<div class="item-controls">
				<a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
						class="fas fa-trash fa-2x"></i></a>
			</div>

		</div>
	</header>

	<div class="flexrow shield-attributes-list">
		<div class="attribute" data-attribute="type">
			<div class="attribute-label">{{localize 'DSA.type'}}</div>
			<div class="flexrow">
				<select name="data.type">
					{{#select data.type}}
					{{#each data.types as |type id|}}
					<option value="{{type.value}}">{{type.label}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="attribute" data-attribute="degree">
			<div class="attribute-label">{{localize 'DSA.degree'}}</div>
			<div class="flexrow">
				<input name="data.degree" type="text" data-dtype="String" value="{{data.degree}}"
					placeholder="{{localize 'DSA.degree'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="castTime">
			<div class="attribute-label">{{localize 'DSA.liturgyCastTime'}}</div>
			<div class="flexrow">
				<input name="data.castTime.duration" type="number" data-dtype="Number"
					value="{{data.castTime.duration}}" placeholder="{{localize 'DSA.value'}}" />
			</div>
			<div class="flexrow">
				<input name="data.castTime.unit" type="text" data-dtype="String" value="{{data.castTime.unit}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="castType">
			<div class="attribute-label">{{localize 'DSA.liturgyCastType'}}</div>
			<div class="flexrow">
				<select name="data.castType">
					{{#select data.castType}}
					{{#each data.castTypes as |castType id|}}
					<option value="{{castType.value}}">{{castType.label}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="attribute" data-attribute="effectTime">
			<div class="attribute-label">{{localize 'DSA.effectTime'}}</div>
			<div class="flexrow">
				<input name="data.effectTime.duration" type="number" data-dtype="Number"
					value="{{data.effectTime.duration}}" placeholder="{{localize 'DSA.value'}}" />
			</div>
			<div class="flexrow">
				<input name="data.effectTime.unit" type="text" data-dtype="String" value="{{data.effectTime.unit}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute target-classes-list">
			<div class="attribute-label">
				{{localize 'DSA.targetClasses'}}
				<a class="item-create" data-type="variant"><i class="fa fa-wrench"></i></a>
			</div>
			{{#each data.targetClasses as |target_class id|}}
			<div class="flexrow">
				{{target_class.label}}
			</div>
			{{/each}}
		</div>
		<div class="attribute" data-attribute="llPage">
			<div class="attribute-label"><a class="open-ll-page"
					data-llPage="{{data.llPage}}">{{localize 'DSA.llPage'}}</a></div>
			<div class="flexrow">
				<input name="data.llPage" type="number" data-dtype="Number" value="{{data.llPage}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="description">
			<div class="attribute-label">{{localize 'DSA.description'}}</div>
			<div class="flexrow">
				<textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
			</div>
		</div>
	</div>

	<div class="liturgy-variants">
		<a class="item-create" data-type="variant"><i class="fa fa-plus"></i></a>
		{{#each data.variant_data as |variant id|}}
		<div class="flexrow">
			<a class="item-edit" name="{{variant._id}}" title="{{localize 'DSA.edit'}}">{{variant.name}}</a>
		</div>
		{{/each}}
	</div>
</form>