<form class="{{cssClass}}" autocomplete="off">
	{{!-- Item Sheet Header --}}
	<header class="weapon sheet-header flexrow" data-item-id="{{item.id}}">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
			</h1>
			<div class="item-controls">
				<a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
						class="fas fa-trash fa-2x"></i></a>
			</div>

		</div>
	</header>

	<div class="flexrow shield-attributes-list">
		<div class="attribute" data-attribute="type">
			<div class="attribute-label">{{localize (concat 'DSA.shieldType')}}</div>
			<div class="flexrow">
				<input name="data.type" type="text" value="{{data.type}}" placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="sizeClass">
			<div class="attribute-label">{{localize (concat 'DSA.sizeClass')}}</div>
			<div class="flexrow">
				<input name="data.sizeClass" type="text" value="{{data.sizeClass}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="breakingFactor">
			<div class="attribute-label">{{localize (concat 'DSA.breakingFactor')}}</div>
			<div class="flexrow">
				<input name="data.breakingFactor" type="number" data-dtype="Number" value="{{data.breakingFactor}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="initiativeMod">
			<div class="attribute-label">{{localize (concat 'DSA.initiativeMod')}}</div>
			<div class="flexrow">
				<input name="data.initiativeMod" type="number" data-dtype="Number" value="{{data.initiativeMod}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="weaponMod">
			<div class="attribute-label">{{localize (concat 'DSA.weaponMod')}}</div>
			<div class="flexrow">
				<input name="data.weaponMod.attack" type="number" data-dtype="Number" value="{{data.weaponMod.attack}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
			<div class="flexrow">
				<input name="data.weaponMod.parry" type="number" data-dtype="Number" value="{{data.weaponMod.parry}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="price">
			<div class="attribute-label">{{localize (concat 'DSA.price')}}</div>
			<div class="flexrow">
				<input name="data.price" type="number" data-dtype="Number" value="{{data.price}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="weight">
			<div class="attribute-label">{{localize (concat 'DSA.weight')}}</div>
			<div class="flexrow">
				<input name="data.weight" type="number" data-dtype="Number" value="{{data.weight}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="description">
			<div class="attribute-label">{{localize (concat 'DSA.description')}}</div>
			<div class="flexrow">
				<textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
			</div>
		</div>
	</div>


</form>