<form class="{{cssClass}}" autocomplete="off">
	{{!-- Item Sheet Header --}}
	<header class="advantage sheet-header flexrow" data-item-id="{{item.id}}">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
			</h1>
			<div class="item-controls">
				<a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
						class="fas fa-trash fa-2x"></i></a>
			</div>

		</div>
	</header>

	<div class="flexrow advantage-attributes-list">
		<div class="attribute" data-attribute="type">
			<div class="attribute-label">{{localize (concat 'DSA.type')}}</div>
			<div class="flexrow">
				<input name="data.type" type="text" data-dtype="String" value="{{data.type}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="description">
			<div class="attribute-label">{{localize (concat 'DSA.description')}}</div>
			<div class="flexrow">
				<textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
			</div>
		</div>

	</div>

</form>