<form class="{{cssClass}}" autocomplete="off">
	{{!-- Item Sheet Header --}}
	<header class="weapon sheet-header flexrow" data-item-id="{{item.id}}">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
			</h1>
			<div class="item-controls">
				<a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
						class="fas fa-trash fa-2x"></i></a>
			</div>

		</div>
	</header>

	<div class="flexrow shield-attributes-list">
		<div class="attribute" data-attribute="roll">
			<div class="attribute-label">{{localize 'DSA.roll'}}</div>
			{{#each data.test as |roll_attr roll_id|}}
			<div class="flexrow">
				<select name="data.test.{{roll_id}}">
					{{#select roll_attr}}
					{{#each ../attributes as |attr id|}}
					<option value="{{attr.value}}">{{attr.label}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			{{/each}}
		</div>
		<div class="attribute" data-attribute="value">
			<div class="attribute-label">{{localize 'DSA.value'}}</div>
			<div class="flexrow">
				<input name="data.value" type="number" data-dtype="Number" value="{{data.value}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="testMod">
			<div class="attribute-label">{{localize 'DSA.testMod'}}</div>
			<div class="flexrow">
				<input name="data.testMod" type="number" data-dtype="Number" value="{{data.testMod}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="spellCastTime">
			<div class="attribute-label">{{localize 'DSA.spellCastTime'}}</div>
			<div class="flexrow">
				<input name="data.spellCastTime.duration" type="number" data-dtype="Number"
					value="{{data.spellCastTime.duration}}" placeholder="{{localize 'DSA.value'}}" />
			</div>
			<div class="flexrow">
				<input name="data.spellCastTime.unit" type="text" data-dtype="String"
					value="{{data.spellCastTime.unit}}" placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="astralCost">
			<div class="attribute-label">{{localize 'DSA.astralCost'}}</div>
			<div class="flexrow">
				<input name="data.astralCost" type="text" data-dtype="String" value="{{data.astralCost}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="range">
			<div class="attribute-label">{{localize 'DSA.range'}}</div>
			<div class="flexrow">
				<input name="data.range" type="text" data-dtype="String" value="{{data.range}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="effectTime">
			<div class="attribute-label">{{localize 'DSA.effectTime'}}</div>
			<div class="flexrow">
				<input name="data.effectTime.duration" type="number" data-dtype="Number"
					value="{{data.effectTime.duration}}" placeholder="{{localize 'DSA.value'}}" />
			</div>
			<div class="flexrow">
				<input name="data.effectTime.unit" type="text" data-dtype="String" value="{{data.effectTime.unit}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute target-classes-list">
			<div class="attribute-label">
				{{localize 'DSA.targetClasses'}}
				<a class="item-create" data-type="variant"><i class="fa fa-wrench"></i></a>
			</div>
			{{#each data.targetClasses as |target_class id|}}
			<div class="flexrow">
				{{target_class.label}}
			</div>
			{{/each}}
		</div>
		<div class="attribute modifications-list">
			<div class="attribute-label">
				{{localize 'DSA.modifications'}}
				<a class="item-create" data-type="variant"><i class="fa fa-wrench"></i></a>
			</div>
			{{#each data.modifications as |modification id|}}
			<div class="flexrow">
				{{modification.label}}
			</div>
			{{/each}}
		</div>
		<div class="attribute" data-attribute="lcdPage">
			<div class="attribute-label"><a class="open-lcd-page"
					data-lcdPage="{{data.lcdPage}}">{{localize 'DSA.lcdPage'}}</a></div>
			<div class="flexrow">
				<input name="data.lcdPage" type="number" data-dtype="Number" value="{{data.lcdPage}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="description">
			<div class="attribute-label">{{localize 'DSA.description'}}</div>
			<div class="flexrow">
				<textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
			</div>
		</div>
	</div>
	<div class="spell-variants">
		<a class="item-create" data-type="variant"><i class="fa fa-plus"></i></a>
		{{#each data.variant_data as |variant id|}}
		<div class="flexrow">
			<a class="item-edit" name="{{variant._id}}" title="{{localize 'DSA.edit'}}">{{variant.name}}</a>
		</div>
		{{/each}}
	</div>
</form>