<form class="{{cssClass}}" autocomplete="off">
	{{!-- Item Sheet Header --}}
	<header class="weapon sheet-header flexrow" data-item-id="{{item.id}}">
		<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

		<div class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'DSA.Name' }}" />
			</h1>
			<div class="item-controls">
				<a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
						class="fas fa-trash fa-2x"></i></a>
			</div>

		</div>
	</header>

	<div class="flexrow talent-attributes-list">
		<div class="attribute" data-attribute="roll">
			<div class="attribute-label">{{localize 'DSA.roll'}}</div>
			{{#each data.test as |roll_attr roll_id|}}
			<div class="flexrow">
				<select name="data.test.{{roll_id}}">
					{{#select roll_attr}}
					{{#each ../attributes as |attr id|}}
					<option value="{{attr.value}}">{{attr.label}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
			{{/each}}
		</div>
		<div class="attribute" data-attribute="value">
			<div class="attribute-label">{{localize 'DSA.value'}}</div>
			<div class="flexrow">
				<input name="data.value" type="number" data-dtype="Number" value="{{data.value}}"
					placeholder="{{localize 'DSA.value'}}" />
			</div>
		</div>
		<div class="attribute" data-attribute="type">
			<div class="attribute-label">{{localize 'DSA.type'}}</div>
			<div class="flexrow">
				<select name="data.type">
					{{#select data.type}}
					{{#each data.talentTypes as |type id|}}
					<option value="{{type.value}}">{{type.label}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="attribute" data-attribute="category">
			<div class="attribute-label">{{localize 'DSA.category'}}</div>
			<div class="flexrow">
				<select name="data.category">
					{{#select data.category}}
					{{#each data.talentCategories as |category id|}}
					<option value="{{category.value}}">{{category.label}}</option>
					{{/each}}
					{{/select}}
				</select>
			</div>
		</div>
		<div class="attribute" data-attribute="effectiveEncumbarance">
			<div class="attribute-label">{{localize 'DSA.effectiveEncumbarance'}}</div>
			<div class="flexrow">
				<div class="effectiveEncumbarance-type">
					{{localize 'DSA.type'}}
					<select name="data.effectiveEncumbarance.type">
						{{#select data.effectiveEncumbarance.type}}
						{{#each data.effectiveEncumbaranceTypes as |type id|}}
						<option value="{{type.value}}">{{type.label}}</option>
						{{/each}}
						{{/select}}
					</select>
				</div>
				<div class="effectiveEncumbarance-formula">
					{{localize 'DSA.formula'}}
					<input name="data.effectiveEncumbarance.formula" type="text" data-dtype="String"
						value="{{data.effectiveEncumbarance.formula}}" placeholder="{{localize 'DSA.value'}}" />
				</div>
			</div>
		</div>
		<div class="attribute" data-attribute="description">
			<div class="attribute-label">{{localize 'DSA.description'}}</div>
			<div class="flexrow">
				<textarea name="data.description" data-dtype="String">{{data.description}}</textarea>
			</div>
		</div>
	</div>
</form>